@media only screen  and (max-width: 970px){
    #main-wrapper{
             
        margin-left: 150px !important;

    }
}

@media only screen  and (max-width: 850px){
    #main-wrapper{
             
        margin-left: 60px !important;

    }
}

@media only screen  and (max-width: 714px){
    #main-wrapper{
             
        margin-left: 30px !important;

    }
}

@media only screen  and (max-width: 680px){
    #main-wrapper{
             
        margin-left: 10px !important;

    }
}